//  Bootstrap variable overrides
$blue:    #1A5FD0;
$body-bg: #F5F7FC;
$body-color: #484F5E;
$teal: #43D5EC;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
